/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* oswald-500 - latin_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v40-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v40-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    box-sizing: border-box;
  }

  .container {
    width: 1278px;
    margin: 0 auto;
    border: 1px solid red;
  }

/* header */
.header-wrap {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
   
}

.header 
{
    padding: 31px 0;
    color: #060D10;
    background-color: #66D1FF; 
    

}

.logo {
    margin-left: 227px;
    margin-right: 224px;
}

.btn-header {
    padding: 8px 41px;
    color: #060D10;
    font-family: "montserrat", "sans-serif";
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    line-height: 29px;  
    background-color: #fff;
    border-radius: 4px;
    
}





.contacts 
{
    color: #060D10;
    font-family: "montserrat", "sans-serif";
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin: 0px;

    
}


/* main */

/* section-about */
.about {
    background-image: url(../img/promo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-fade {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 240px 81px;
    background-color: rgb(6, 13, 16, 0.25);
    color: white;
    text-shadow: 1px 1px 2px #060D10 ;
}
.about-text-big 
{
font-family: "Oswald", sans-serif;
font-weight: 500;
font-size: 60px;
line-height: 89px;
text-transform: uppercase;
}

.about-text-small 
{

font-family: "Montserrat", "sans-serif";
font-weight: 500;
font-size: 32px;
line-height: 39px;

}


/* section-advantages */

.advantages {
   
    align-items: center;
    background-color: rgb(102, 209, 255, 0.1);
}

.advantages-fade {
    padding: 170px 0;

}

.advantages-heading-big {
color: #060D10;
margin: 0;
text-align: center;
font-family: "Oswald", "sans-serif";
font-style: normal;
font-weight: 500;
font-size: 48px;
}


.advantages-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-top: 100px;
    padding-left: 0;
}

.advantages-item {
    display: inline-flex;
    flex-wrap: wrap;
    width: 406px;
}


.advantages-heading {
color: #060D10;
font-family: "Oswald", "sans-serif";
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 167%;
height: 53px;
text-decoration: none;
text-transform: uppercase;
margin: 0;
}

.advantages-text {
    color: #060D10;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    opacity: 0.8;
    line-height: 140%;
    margin: 25px 0 0 0;
}


/* div-foto */
.foto-text {
    font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 140%;
text-transform: uppercase;
text-align: center;
}
.btn {
color: #060D10;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-decoration: none;
text-align: center;
}




/* footer */
.footer {
    background-color: #060D10;
}


.footer-add {
color: #fff;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 167%;
}



.year {
color: #fff;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
}

