/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* oswald-500 - latin_cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v40-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v40-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/* header */
.header 
{
    background-color: #66D1FF;
    width: 1440px;
    height: 112px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
}
.logo {
Top: 31px;
Left: 584px;
position: absolute;
}

.btn-header {
    color: #060D10;
    font-family: "montserrat", "sans-serif";
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    transition: 0.4s;
    line-height: 29px;
    top: 42px;
    left: 122px;   
    position: absolute;
}
.btn-header:hover 
{
    font-size: 26px;
}

.contacts 
{
    color: #060D10;
    font-family: "montserrat", "sans-serif";
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin: 0px;
    top: 39px;
    left: 1103px;
    position: absolute;
}


/* main */

/* section-about */
.about-text-big 
{
font-family: "Oswald", sans-serif;
font-weight: 500;
font-size: 60px;
line-height: 89px;
text-align: center;
text-transform: uppercase;
}
.about-text-small 
{
font-family: "Montserrat", "sans-serif";
font-weight: 500;
font-size: 32px;
line-height: 39px;
text-align: center;
}

/* section-advantages */
.advantages-heading-big {
color: #060D10;
font-family: "Oswald", "sans-serif";
font-style: normal;
font-weight: 500;
font-size: 48px;
text-align: center;
text-transform: uppercase;
}
.advantages-heading {
color: #060D10;
font-family: "Oswald", "sans-serif";
font-style: normal;
font-weight: 500;
font-size: 32px;
text-decoration: none;
text-transform: uppercase;
}
.advantages-text {
    color: #060D10;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    opacity: 0.8;
    line-height: 140%;
}
/* div-atvanteges */
.foto-text {
    font-family: "Oswald";
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 140%;
text-transform: uppercase;
text-align: center;
}
.btn {
color: #060D10;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-decoration: none;
text-align: center;
}




/* footer */
.footer {
    background-color: #060D10;
    width: 1440px;
height: 111px;
position: relative;
}
.footer-add {
color: #fff;
font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 167%;
top: 38px;
left: 98px;
margin: 0px;
position: absolute;
}
.year {
    color: #fff;
    font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
margin: 0px;
top: 43px;
left: 1162px;
position: absolute;


}

